.section-main {
  padding-top: 1px;
  height: calc(100vh - 61px);
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white !important;
}

.section-main-search {
  padding: 0.7rem 0 0 0;
  display: flex;
  gap: 1rem;
  width: 100%;
}

.section-main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.section-main-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 110px);
}

.grid-container {
  display: grid;
  gap: 10px
}

.grid-col {
  color: white;
  margin: 0;
}

.card-icon {
  font-size: 18px !important;
}

.card-icon:hover {
  color: var(--color-main) !important;
}

@media (min-width: 1800px) {
  .grid-col {
    padding: 0 10px;
  }
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .grid-col {
    padding: 10px;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }

  .grid-col {
    padding: 0px;
  }
}

@media (max-width: 575px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-content>h3 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  text-wrap: nowrap;
}

.card-content-icon {
  font-size: 16px !important;
  color: var(--color-main-light) !important;
}


.card-content-detail {
  display: flex;
  gap: 0.5rem;
}

.card-content-text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.card-content-title {
  font-size: 11px;
  color: var(--color-main-light);
}

.card-content-content {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}

.ant-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}


.ant-card:hover {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


.ant-card-body {
  padding: 0.5rem !important;
}

@media screen and (max-width: 1800px) {
  .section-main-content {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .ant-card {
    width: 300px !important;
  }
  /* Mobile Bottom Nav */
  .section-main-pagination {
    padding-bottom: 60px !important;
  }
}

.drawer-filter-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.drawer-filter-main>div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.drawer-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}