@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Manrope", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--color-main: rgb(254, 177, 17);
	--color-main-dark: #ef9904;
	--color-main-light: #fec74f;
}

.color-main {
	color: var(--color-main);
}

/* Start Ant Design Override */
.ant-btn-primary {
	background-color: var(--color-main);
	border-color: var(--color-main);
	color: #000000;
}

.ant-btn-primary:hover {
	background-color: var(--color-main-light) !important;
	border-color: var(--color-main-light) !important;
	color: #000000 !important;
}

.ant-btn-default {
	background-color: #ffffff;
	border-color: #ffffff;
}

.ant-btn-default:hover {
	background-color: #fff6e8 !important;
	border: 1px solid #fff6e8 !important;
	color: #000 !important;
}

.ant-btn-link {
	color: var(--color-main) !important;
}

.ant-btn-link:hover {
	color: var(--color-main-dark) !important;
	background-color: #fff6e8 !important;
}

.ant-input-primary:hover {
	background-color: var(--color-main-light) !important;
	border-color: var(--color-main-light) !important;
	color: #000000 !important;
}

.ant-input-search .ant-input:hover {
	border-color: var(--color-main);
}

.ant-input-search .ant-input:focus {
	border-color: var(--color-main);
	box-shadow: 0 0 0 2px rgba(254, 177, 17, 0.2);
}

.ant-input:hover {
	border-color: var(--color-main);
}

.ant-input:focus {
	border-color: var(--color-main);
	box-shadow: 0 0 0 2px rgba(254, 177, 17, 0.2);
}

.ant-select:hover,
.ant-select-outlined:hover,
.ant-select-item-option:hover,
.ant-select-item-option-active,
.ant-select-item-option-selected {
	background-color: rgba(254, 177, 17, 0.2) !important;
}


.ant-select-focused .ant-select-selector,
.ant-select-selector:hover,
.ant-input-number:hover,
.ant-input-number-focused,
.ant-picker:hover,
.ant-picker-focused {
	border-color: var(--color-main) !important;
	box-shadow: 0 0 0 2px rgba(254, 177, 17, 0.2) !important;
}

.ant-pagination-item-active,
.ant-pagination-item-active a {
	border-color: var(--color-main) !important;
	color: var(--color-main) !important;
}

.ant-tree-checkbox-inner:hover {
	border-color: var(--color-main-light) !important;
}

.ant-tree-checkbox-checked .ant-tree-checkbox-inner {
	background-color: var(--color-main) !important;
	border-color: var(--color-main) !important;
}

/* Finish Ant Design Override */